 <div data-validate-users-target="id">
  <div class="alert alert-warning" role="alert">
    <h5 class="alert-heading"><b>Como eres ciudadano mexicano</b></h5>
    <p>
    Adjunta una foto frontal y trasera de alguna de las siguintes opciones:
    <ul>
      <li>Credencial para votar</li>
      <li>Credencial para votar desde el extranjero</li>
      <li>Visa de residencia permanente</li>
      <li>Matrícula Consular</li>
    </ul>
    </p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <input class="form-control mb-2" type="file" id="licence" multiple />
    <button class= "btn btn-main-dark w-50">Siguiente</button>
  </div>
</div>
