 <div data-validate-users-target="id">
  <div class="alert alert-warning" role="alert">
    <h5 class="alert-heading"><b>Adjunta una foto de tu pasaporte</b></h5>
    <p>
      Como no eres Ciudadano Mexicano debes de presentar una foto de tu pasaporte.
      Además, tu licencia de conducir debe de tener tu domicilio.
    </p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <input class="form-control mb-2" type="file" id="licence" multiple />
    <button class= "btn btn-main-dark w-50">Siguiente</button>
  </div>
</div>
