<div data-validate-users-target="id">
  <%= simple_form_for(current_user.mexican_identification, url: "", data: {validate_users_target:"idForm", action: "submit->validate-users#updateIdMexican"}, method: :patch) do |f| %>
    <div class="alert alert-warning" role="alert">
      <h5 class="alert-heading"><b>Como eres ciudadano mexicano</b></h5>
      <p>Adjunta una foto frontal y trasera de una de las opciones.</p>
    </div>
    <%= f.input :type_of_id, label:"Selecciona tu identificación", as: :radio_buttons, collection: User.get_options_mexican_id, class: "input-forms"%>
    <%= f.input :photos, as: :file, label: "Adjunta aqui la foto frontal y trasera", multiple: false, input_html: { multiple: true} %>
    <div class="form-actions d-flex w-100 flex-column align-items-center">
      <%= f.button :submit, "Siguiente", class: "btn btn-main-dark w-50" %>
    </div>
  <% end %>
</div>
