<div data-validate-users-target = "licence">
  <div class="alert alert-warning" role="alert">
  <h5 class="alert-heading"><b>Requisitos</b></h5>
  <p>
    <ul style="margin-top:-12px;">
      <li>Licencia vigente.</li>
      <li>Una foto de la parte frontal.</li>
      <li>Una foto de la parte trasera.</li>
    </ul>
  </p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <input class="form-control mb-2" type="file" id="licence" multiple />
    <button class= "btn btn-main-dark w-50">Siguiente</button>
  </div>
</div>
