<div data-validate-users-target="profile">
  <div class="alert alert-warning" role="alert">
  <h5 class="alert-heading"><b>Requisitos para la imagen</b></h5>
  <p>
    <ul>
      <li>Salgas solo tu en la imagen.</li>
      <li>Sea una imagen solo de tu cara.</li>
      <li>Salgas en la imagen sin accesorios.</li>
    </ul>
  </p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <input class="form-control mb-2" type="file" id="licence" multiple />
    <button class= "btn btn-main-dark w-50">Siguiente</button>
  </div>
</div>
