// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

//Headers
@media (max-width: 750px ) {
h2,h3,h4{
  font-family: $headers-font;
}

h2{
  font-size: 30px !important;
  font-weight: 600 !important;
}

h3{
  font-size: 25px !important;
  font-weight: 600 !important;

}
h4{
  font-size: 23px !important;
  font-weight: 600 !important;

}

a{
  font-weight: 800;
}
}
