.top-left{
  position: absolute;
  top: 80px;
  left: 16px;
}

.show_heading{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 650;
  font-size: 28px;
  line-height: 38px;
  margin-left: 15px;
  margin-top: 15px;
}


#star-count{

}
