// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:wght@800&display=swap');
@media (max-width: 750px ) {
  .link-design{
    color:black;
    font-family: 'Nunito Sans', sans-serif;
  }
  .link-design:visited,:active{
    color:black;
  }
  h3{
    font-family: 'Nunito Sans', sans-serif;

  }
}
