<div class="mobile-nav">
  <div class="mobile-nav-links-container">
    <a href="#" class="navbar-logo"><h3>Ventri<h3></a>
    <a><img id="navbar-avatar-mobile" src="https://www.walshassociates.co.nz/wp-content/uploads/2015/09/img_placeholder_avatar.jpg" alt="placeholder avatar image."></a>
  </div>
</div>
