<div class="social-media-mobile-footer d-flex flex-row justify-content-evenly align-items-center">
  <a href="" class="link-design" style="font-size:40px"><i class="fa-brands fa-linkedin"></i></a>
  <a href="" class="link-design" style="font-size:40px"><i class="fa-brands fa-square-facebook"></i></a>
  <a href="" class="link-design" style="font-size:40px"><i class="fa-brands fa-square-instagram"></i></a>

</div>
