<footer class="mobile-bot">
  <div class="mobile-nav-icon-container">
    <a><i class="fa-regular fa-compass fa-lg"></i></a>
    <a><i class="fa-regular fa-heart fa-lg"></i></a>
    <a><i class="fa-regular fa-calendar-check fa-lg"></i></a>
    <a><i class="fa-regular fa-message fa-lg"></i></a>
  </div>
</footer>
