.mobile-nav{
  width: 100vw;
  position: sticky;
  top: 0px;
}

.mobile-nav-links-container{
  display: flex;
  justify-content: space-between;
  background:black;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 5px;

  #navbar-avatar-mobile{
    border-radius: 50px;
    width: 38px;
  }

  a {
    text-decoration: none;
    font-family: nunito-sans;
    color:white;
  }
}



.navbar-avatar-mobile {
    border-radius: 50%;
  }



.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
