.mobile-bot{
  width: 100vw;
  position: sticky;
  bottom: 0px;
}

.mobile-nav-icon-container{
  display: flex;
  justify-content: space-around;
  background-color: #d9d9d9;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
}
