<div class = "show-on-mobile-login">
  <%= render "components_mobile/navbar" %>
  <div class="card-holder">
    <%@cars.each_with_index  do |car, index|%>
      <%=render "components_mobile/car_card", :car => car %>
    <%end%>
  </div>


</div>
