<!-- Mobile view -->
<div class = "show-on-mobile-login">
  <%= render "components_mobile/header_logo" %>
    <div class="container p-3 mt-2 d-flex flex-column align-items-center">
    <h2>Ventri te interesa para</h2>
    </div>
</div>
